html{
  scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    display: block;
    text-decoration: none;
    /* background-color:#364250; */
    /* background-color: gray; */
    /* background-color: black; */
    background-image: linear-gradient(black, rgb(112, 112, 4));
}

header{
    display: flex;
    background-color:#1e1d23;
    color: white;
    justify-content: space-between;
    padding-bottom: 20px;
}

.container{
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 100px;
    justify-content: space-around;
    padding-bottom: 40px;

}

.navi{
    margin-left: 15px;
    width: auto;
    height: 80px;
    cursor: pointer;
    margin-top: 5px;
}

.lupa{
    width: 50px;
    height: 50px;
    padding-top: 20px;
    cursor: pointer;
    
}

.palavras{
    padding: 10px;
    padding-top: 40px;
    height: 20px;
    cursor: pointer;
    background-color: #1e1d23;
    text-decoration: none;
    /* border-right: solid 1px black;
    border-left: solid 1px black; */
    border-bottom: solid 1px black;
    
}

.palavras:hover{
    background-color: #87a3bf;
    /* text-decoration: underline; */
    border-bottom: solid 4px yellow;
    text-decoration-color: yellow;
    text-transform: uppercase;
    transform: scale(1.2);
    transition-duration: 1250ms;
}

.cuzinho{
    margin-right: 20px;
}

main{
    display: flex;
    margin-top: 20px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.trofeu{
    width: 250px;
    height:  300px;
    /* background-color: hwb(0 100% 0%); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.trofeu:hover{
    cursor: url(xicara.png), auto;
}

.xicara{
    width: 90px;
    height: 80px;
}

.xicara:hover{
    cursor: url(xicara.png), auto;
}

.torneios{
    width: 300px;
    height: 300px;
    background-color: #393741;
    display: flex;
    color: aliceblue;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.texto{
    width: 100%;
    height: 20px;
    background-color: #1e1d23;
    color: white;
    text-align: center;
}

.partidas{
    display: flex;
    align-items: center;
    padding-bottom: 60px;

}

.bandeiras{
    width: 40px;
    height: 40px;
    padding-left: 5px;
}

.bandeiras2{
    width: 40px;
    height: 30px;
    padding-left: 5px;
}

.horario{
    /* background-color: aqua; */
    padding-left: 20px;
    padding-top: 20px;
    font-size: 25px;
}

.descricao{
    font-size: 25px;
    margin-top: 150px;
    color: whitesmoke;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 10px;
    width: 80%;
    /* -moz-box-shadow: 0px 20px 20px #86CEEB; */
    box-shadow: 0px 1px 10px #d2e900;
    /* background-image: linear-gradient(black, rgb(112, 112, 4)); */
    animation: animarBorda 3s infinite;
    
}

.texto10{
    margin: 30px;
    
}

/* @keyframes animarBorda{
    0%{
        box-shadow: 0px 1px 10px #d2e900;;
    }
    50%{
        box-shadow: 0px 1px 10px #000000;
    }
    100%{
        box-shadow: 0px 1px 10px #d2e900;
    }
} */


.descricao2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.patrocinadores{
    width: 200px;
    height: 50px;
    padding-right: 60px;
}

footer{
    width: 100%;
    height: 520px;
    background-color: #1e1d23;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.redesSociais{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}


h3{
    color: #737f8d;
    margin-bottom: -25px;
}


.cartas{
    display: flex;
    flex-direction: column;
    /* color: #364250; */
    color: rgba(0, 0, 0, 0);
    padding-bottom: 100px;
    padding-top: 100px;
    
}

.cartas:hover{
    transform: scale(1.7);
    transition-duration: 600ms;
    color: rgb(255, 255, 255);
    display: flex;
    opacity: 100%;
}

.cartasSimple{
    padding-left: 20px;
    font-size: 12px;
    width: 150px;
    height: 110px;
    font-family: 'Poppins', sans-serif;
    margin: 0px 5px;
}



.simple{
    width: 200px;
    height: auto;
}

a{
    text-decoration: none;
    color: white;
}

.baixo{
    margin-top: 150px;
    /* margin-bottom: 200px; */
    margin-bottom: 35px;
}

.textoTeam{
    margin-top: 50px;
    font-size: 80px;
    margin-bottom: -150px;
    animation: textoTeam linear infinite 9s;
    text-transform: uppercase;
    /* background-image: linear-gradient(black, yellow,black); */
    background-image: linear-gradient(yellow, black, yellow);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-background-size: 500%
}

@keyframes textoTeam{
    0%{
        background-position: 0% 100%;
    }
    50%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 0% 100%;
    }
} 

.alinPatrocinios{
    display: flex;
}


.aw{
    width: 200px;
    animation: floating 6s ease-out infinite;
    margin-top: 50px;
   
}

@keyframes floating{
    0%{
        transform: translateY(0);
        rotate: (0);
    }
    50%{
        transform: translateY(-50px) rotate(9deg);
    }
    100%{
        transform: translateY(0) rotate(0);
    }
}

.ak{
    width: 120px;
    animation: floating 6s ease-out infinite;
    margin-top: 0px;
    
}

@keyframes floating{
    0%{
        transform: translateY(0);
        rotate: (0);
    }
    50%{
        transform: translateY(-50px) rotate(9deg);
    }
    100%{
        transform: translateY(0) rotate(0);
    }
}
.faca{
    width: 90px;
    animation: floating 6s ease-out infinite;
    margin-top: 50px;
    
}

@keyframes floating{
    0%{
        transform: translateY(0);
        rotate: (0);
    }
    50%{
        transform: translateY(-50px) rotate(9deg);
    }
    100%{
        transform: translateY(0) rotate(0);
    }
}
