body{
    margin: 0;
    padding: 0;
    display: block;
    text-decoration: none;
    background-color:#364250;
    /* background-color: black; */
}

header{
    display: flex;
    background-color:#1e1d23;
    color: white;
    justify-content: space-between;
    padding-bottom: 20px;
}

.container{
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 100px;
    justify-content: space-around;
    padding-bottom: 40px;
}

.navi{
    margin-left: 15px;
    width: auto;
    height: 80px;
    cursor: pointer;
    margin-top: 5px;
}

.lupa{
    width: 50px;
    height: 50px;
    padding-top: 20px;
    cursor: pointer;
    
}

.palavras{
    padding: 10px;
    padding-top: 40px;
    height: 20px;
    cursor: pointer;
    background-color: #1e1d23;
    text-decoration: none;
    /* border-right: solid 1px black;
    border-left: solid 1px black; */
    border-bottom: solid 1px black;
    
}

.palavras:hover{
    background-color: #87a3bf;
    /* text-decoration: underline; */
    border-bottom: solid 4px yellow;
    text-decoration-color: yellow;
    text-transform: uppercase;
    transform: scale(1.2);
    transition-duration: 1250ms;
}

.cuzinho{
    margin-right: 20px;
}

main{
    display: flex;
    margin-top: 20px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.trofeu{
    width: 250px;
    height:  300px;
    /* background-color: hwb(0 100% 0%); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.trofeu:hover{
    cursor: url(xicara.png), auto;
}

.xicara{
    width: 90px;
    height: 80px;
}

.xicara:hover{
    cursor: url(xicara.png), auto;
}

.torneios{
    width: 300px;
    height: 300px;
    background-color: #393741;
    display: flex;
    color: aliceblue;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.texto{
    width: 100%;
    height: 20px;
    background-color: #1e1d23;
    color: white;
    text-align: center;
}

.partidas{
    display: flex;
    align-items: center;

}

.bandeiras{
    width: 40px;
    height: 40px;
    padding-left: 5px;
}

.bandeiras2{
    padding-top: px;
    width: 40px;
    height: 40px;
    padding-left: 5px;
}

.horario{
    /* background-color: aqua; */
    padding-left: 40px;
    padding-top: 20px;
    font-size: 25px;
}

.descricao{
    font-size: 25px;
    margin-top: 150px;
    justify-content: center;
    color: antiquewhite;
    border: solid 1px yellowgreen;
    margin-bottom: 35px;
}

.descricao2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.patrocinadores{
    width: 200px;
    height: 50px;
    padding-right: 60px;
}

footer{
    width: 100%;
    height: auto;
}

.cartas{
    display: flex;
    flex-direction: column;
    color: #364250;
    padding-bottom: 100px;
}

.cartas:hover{
    transform: scale(1.7);
    transition-duration: 600ms;
    color: paleturquoise;
    display: flex;
}

.cartasSimple{
    padding-left: 20px;
    font-size: 12px;
    width: 150px;
    height: 110px;
    font-family: 'Poppins', sans-serif;
    margin: 0px 5px;
}

.simple{
    width: 200px;
    height: auto;
}

a{
    text-decoration: none;
    color: white;
}
















.ak{
    width: 150px;
    animation: floating 6s ease-out infinite;
}

@keyframes floating{
    0%{
        transform: translateY(0);
        rotate: (0);
    }
    50%{
        transform: translateY(-50px) rotate(9deg);
    }
    100%{
        transform: translateY(0) rotate(0);
    }
}


